<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!--navbar begins-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid ">
        <a class="navbar-brand text-white" href="/">OnlineStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="productList">Product-List</a>
                </li>
            </ul>
            <div>
                <a class="nav-link text-white" href="addProduct">Add New Product</a>
            </div>


        </div>
    </div>
</nav>

<!--navbar Ends-->
<!--Table container begins-->
<div class="container">
    <h2>Product Table</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th>Created At</th>

        </tr>
        </thead>
        <tbody>
        <!-- Sample row, you can replace this with data from your backend -->
        <tr th:each="p :${products}">

            <td th:text="${p.id}">  </td>
            <td th:text="${p.name}"> </td>
            <td th:text="${p.brand}"> </td>
            <td th:text=" ${p.category}"> </td>
            <td th:text="${p.price}"> </td>
            <td th:text=" ${p.description}"> </td>
            <td th:text="${p.createdAt }"> </td>
            <td>
                <a class="btn btn-danger"  th:href="@{/updatepage/{id}(id=${p.id})}"> edit </a>
                <a  class="btn btn-primary" th:href="@{/delete/{id}(id=${p.id})}"> delete </a>
            </td>


        </tr>
        <!-- More rows can be added dynamically based on backend data -->
        </tbody>
    </table>
</div>
<!--Table container ends-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>